
4092010-2.xlsx
4101105-2.xlsx
4092598-2.xlsx
4093093-2.xlsx
4093093-2_sample.xlsx
4096389-2.xlsx
4096742-2.xlsx
4096786-2.xlsx
4096806-2.xlsx
4097581-3.xlsx
4097634-2.xlsx
4097822-2.xlsx
4097823-2.xlsx
4099257-2.xlsx
4100720-2.xlsx
4101795-2.xlsx
4101796-2.xlsx
excel_file/HK_4097824-2.xlsx
/excel_file
/build
4096786-2_bak.xlsx
4096786-2_bak20241226.xlsx
4096786-2_template.xlsx
Check_Item.xlsx
/.idea
Chinese_translation.py
config.ini
copy excel.txt
copy_excel_sheet.py
copysheet2.py
copysheet3.py
copysheet4.py
day.txt
DIFS.py
*.spec
/dist
/master/bak
temp.xlsx
test.xlsx
read_dll.py
test1.py
test2.py
test3.py
test4.py
test_re.py
test_sort.py
test_sql.py
toexcel.py
update_info1.ini
US_address.py
version1.0.txt
加密解密.txt
get_gsm.py
get_version.py
get_version2.py
Excel_color.xlsx
excel_color.py
LotusServer.txt
Honour.dll
main.py
master/處理方法.docx
Match_Innsight_bak20241108.py
output.xlsx
*.exe
ProductionGrid20241223(折法用纸在第一列).py
ProductionGrid20241213.py
ProductionGrid20241214.py
ProductionGrid20241215.py
ProductionGrid20241217.py
ProductionGrid_bak20241209.py
userCommon.xml
master_test.py
Match_Innsight.py
master/innsight.txt
